PORT=3000
JWT_SECRET=sua_chave_jwt_secreta

# Configuração do Supabase (Storage)
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_KEY=sua-chave-anon-ou-service-role
SUPABASE_BUCKET=uploads

# Conexão com o Banco de Dados
DATABASE_URL="postgresql://postgres.[ref]:[SENHA]@aws-0-[regiao].pooler.supabase.com:6543/postgres"
